/*
    CONTACT PAGE CSS FILE
        - style sheet that includes styles used on the contact page
*/

/* HEADINGS */
#defaultForm h4
{
    color: #E65A15;
    font-size: 60px;
    letter-spacing: 5px;
}

/* TEXT */
#defaultForm
{
    font-size: 22px;
}

/* TABLES */
#defaultForm table
{
    border-collapse: collapse;
    margin: 10px 0 25px;
}

#defaultForm td,th
{
    padding: 10px 15px;
    padding-left: 0;
    vertical-align: top;
}

#defaultForm tr td:first-child
{
    font-family: 'Roboto', sans-serif;
    padding-top: 18px;
}

/* FORMS */
#defaultForm input[type="text"],textarea
{
    border: 2px solid #333;
    border-radius: 7px;
    font: 22px 'Open Sans', sans-serif;
}

#defaultForm input[type="text"]
{
    height: 28px;
    padding: 5px;
    /* Make sure textboxes line up with field names */
}

#defaultForm textarea
{
    padding: 15px;
}

#defaultForm input[type="submit"]
{
    border: 2px solid #333;
    border-radius: 5px;
    color: #333;
    float: right;
    font-size: 24px;
    padding: 8px;
}

#defaultForm input[type="submit"]:hover
{
    background-color: #E65A15;
    color: #333;
    opacity: .75;
}