/*
    CONTACT PAGE CSS FILE
        - style sheet that includes styles used on the contact page
*/

/* HEADINGS */
#contactForm h4
{
    color: #E65A15;
    font-size: 60px;
    letter-spacing: 5px;
}

/* TEXT */
#contactForm
{
    font-size: 22px;
}

/* TABLES */
#contactForm table
{
    border-collapse: collapse;
    margin: 25px 0;
}

#contactForm td,th
{
    padding: 10px 15px;
    padding-left: 0;
    vertical-align: top;
}

#contactForm tr td:first-child
{
    font-family: 'Roboto', sans-serif;
    padding-top: 18px;
}

/* FORMS */
#contactForm input[type="text"],textarea
{
    border: 2px solid #333;
    border-radius: 7px;
    font: 22px 'Open Sans', sans-serif;
}

#contactForm input[type="text"]
{
    height: 28px;
    padding: 5px;
    /* Make sure textboxes line up with field names */
}

#contactForm textarea
{
    padding: 15px;
}

#contactForm input[type="submit"]
{
    border: 2px solid #333;
    border-radius: 5px;
    color: #333;
    float: right;
    font-size: 24px;
    padding: 8px;
}

#contactForm input[type="submit"]:hover
{
    background-color: #E65A15;
    color: #333;
    opacity: .75;
}