/*
    GLOBAL CSS FILE
        - style sheet that includes styles used site-wide
*/

html
{
    /*height: 100%;*/
    min-height: 100%;
    /*min-width: 100%;*/
}

body
{
    /*background: #fafafa;*/
    /* Courtesy of http://www.colorzilla.com/gradient-editor/ */
    background: -moz-linear-gradient(top,  rgba(114,114,114,0) 0%, rgba(115,115,115,0) 1%, rgba(221,221,221,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(114,114,114,0)), color-stop(1%,rgba(115,115,115,0)), color-stop(100%,rgba(221,221,221,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(114,114,114,0) 0%,rgba(115,115,115,0) 1%,rgba(221,221,221,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(114,114,114,0) 0%,rgba(115,115,115,0) 1%,rgba(221,221,221,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(114,114,114,0) 0%,rgba(115,115,115,0) 1%,rgba(221,221,221,0.65) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(114,114,114,0) 0%,rgba(115,115,115,0) 1%,rgba(221,221,221,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00727272', endColorstr='#a6dddddd',GradientType=0 ); /* IE6-9 */
    border-top: 20px solid #000;
    color: #333333;
    font: 24px 'Open Sans', sans-serif;
    /*height: 100%;*/
    min-height: 100%;
}

/* DIVS */
/* container */
#container
{
    /* needed for content wrapper to take up empty space on page */
    height: 100%;
    margin: 0 auto;
    width: 960px;
}

#socialMediaContainer
{
    text-align: center;
}

/* menu */
nav
{
    border-bottom: 2px solid #000;
    margin-top: 5px;
    padding-bottom: 15px;
}

/* headline */
#attnGrabber
{
    color: #878686;
    margin: 60px;
}

/* main content */
#contentWrapper
{
    overflow: auto;
}

.wideContent
{
    border: 5px solid #333;
    padding: 30px;
    /*height: 200px;*/
}

/* footer */
footer
{
    border-top: 3px solid #878686;
    clear: both;
    color: #9C9C9C;
    font: 18px 'Voltaire', sans-serif;
    letter-spacing: 3px;
    margin: 45px 0 0 0;
    padding: 25px 0;
    text-align: center;
    width: 100%;
}

/* TEXT */
/* headings */
nav h1 /* title */
{
    color: #878686;
    /*border-bottom: 4px solid #E65A15;*/
    /*border-top: 4px solid #E65A15;*/
    display: inline-block;
    font: 64px 'Economica', sans-serif;
    padding: 10px 5px;
    position: relative;
    top: 8px;
}

#attnGrabber h2 /* headline */
{
    font: 28px 'Marvel', sans-serif;
    margin-top: 15px;
    text-align: center;
}

.wideContent h4
{
    border-bottom: 3px solid;
    /*display: inline;*/
}

/* messages */
.error
{
    color: #B80F0F;
    margin: 5px;
    /*text-align: center;*/
}

.success
{
    color: #07AD0A;
    margin: 5px;
}

/* TEXT */
/* headline */
#attnGrabber .accentuate
{
    display: inline;
    font-weight: bold;
    padding-bottom: 3px;
}

#attnGrabber .day
{
    border-top: 2px solid;
    color: #C9C7C7;
}

#attnGrabber .night
{
    border-bottom: 2px solid;
    color: #333;
}

#attnGrabber p
{
    display: inline;
}

/* LINKS */
a:link
{
    color: #E65A15;
    padding-bottom: 3px;
    text-decoration: none;
}

a:visited
{
    color: #E65A15;
}

a:hover
{
    border-bottom: 3px solid #E65A15;
}

a:active
{
    color: #333;
    background-color: #E65A15;
}

nav a /* menu links */
{
    margin: 0 42px;
    padding: 5px;
    padding-bottom: 10px;
}

a.imgLink:active
{
    background: none;
}

a.imgLink:hover
{
    border: none;
}

/* remove active background from social media links */
#socialMediaContainer a:active
{
    background: none;
}

/* IMGS */
#socialMediaContainer img
{
    margin: 0 4px;
}

/* OTHER */
hr
{
    color: #C9C7C7;
    margin: 40px auto;
    text-align: center;
    width: 70%;
}