/*
    INDEX CSS FILE
        - style sheet that includes styles used on the index page
*/

/* DIVS */
.detailsBlob
{
    background-color: #FFF;
    border: 3px solid #333;
    float: left;
    margin: 10px 20px;
    text-align: center;
}

.dbTop
{
    width: 425px;
}

.dbBottom
{
    width: 895px;
}

.indexInfoModule
{
    font-size: 16px;
    margin: 15px 10px;
}

#music
{
    border: 3px solid #333333;
    border-radius: 10px;
    margin: 20px auto;
    overflow: auto;
    padding: 10px;
    text-align: left;
    height: 250px;
    width: 80%;
}

footer
{
    background-color: #000;
    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
}

/* HEADINGS */
.detailsBlob h3
{
    border-bottom: 2px solid #E65A15;
    display: inline-block;
    font-size: 26px;
    margin: 10px 0;
    text-align: center;
    width: 90%;
}

.indexInfoModule h4
{
    color: #E65A15;
    border-bottom: 2px dotted;
    font-size: 22px;
    margin: 8px 2px;
}

/* TEXT */
.indexInfoModule h4,.indexInfoModule p
{
    line-height: 30px;
    text-align: left;
}

/* IMGS */
.indexInfoModule img
{
    border: 5px solid #333333;
    margin: 20px 10px;
    opacity: .75;
}

.indexInfoModule img:hover
{
    cursor: pointer;
    opacity: 1;
}

.detailsBlob img
{
    margin: 40px 5px;
}

#music p
{
    background-color: #333;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #E65A15;
    font-size: 12px;
    padding: 4px;
    text-align: center;
}

/* OTHER */
hr
{
    margin: 7px auto;
    width: 90%;
}